# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/spring-cloud/micro-weather-basic/*.project
/spring-cloud/micro-weather-basic/*.classpath
/spring-cloud/micro-weather-basic/target
/spring-cloud/micro-weather-basic/.settings
/spring-cloud/micro-weather-config-server/*.classpath
/spring-cloud/micro-weather-config-server/*.project
/spring-cloud/micro-weather-config-server/.settings
/spring-cloud/micro-weather-config-server/target
/spring-cloud/micro-weather-eureka-client/*
/spring-cloud/micro-weather-eureka-server/*.project
/spring-cloud/micro-weather-eureka-server/*.classpath
/spring-cloud/micro-weather-eureka-server/.settings
/spring-cloud/micro-weather-eureka-server/target
/spring-cloud/micro-weather-feign/*.classpath
/spring-cloud/micro-weather-feign/*.project
/spring-cloud/micro-weather-feign/.settings
/spring-cloud/micro-weather-feign/target
/spring-cloud/micro-weather-redis/*.classpath
/spring-cloud/micro-weather-redis/*.project
/spring-cloud/micro-weather-redis/.settings
/spring-cloud/micro-weather-redis/target
/spring-cloud/micro-weather-zuul/*.project
/spring-cloud/micro-weather-zuul/*.classpath
/spring-cloud/micro-weather-zuul/.settings
/spring-cloud/micro-weather-zuul/target
